p {
    font-family: "Calibri";
}
    
body {
    font-family: "Times New Roman", serif;
    background-color: #1a4526;
    margin: 0;
    padding: 1px;
}

header {
    background-color: #434f73;
    font-size: 25px;
    color: white;
    padding: 35px;
    text-align: centre;
}

nav {
    display: flex;
    align: center;
    background-color: #4a6580;
    padding: 25px;
}

nav a {
    color: white;
    width: 100%;
    text-decoration: overline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    font-weight: bold;
}
section {
    padding: 20px;
    text-align: center;
}

.main-content {
    background-color: #4a2f16;
    margin: 60px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0px 0px 0px rgba(2, 5, 2, 0);
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    bottom: 0;
}
html {
  scroll-behavior: smooth;
}
.vertical {
    width: 1px;
    height: 20px; 
    background-color: white;
    border: none;
    transform: rotate(90deg);
    margin-left: 20px;
}
