p {
    font-family: "Calibri";
}
    
body {
    font-family: "Times New Roman", serif;
    background-color: #141e30;
    margin: 0;
    padding: 1px;
}

header {
    background-color: #41495e;
    color: white;
    padding: 5px;
    text-align: centre;
}
header:hover{
    color: orange;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}
a:hover{
    color: orange;
}

nav {
    display: flex;
    text-align: center;
    background-color: #4a6580;
    padding: 0px;
}

nav a {
    color: #4a6580;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}
section {
    padding: 20px;
    text-align: center;
}

.main-content {
    background-color: #fefefe71;
    margin: 60px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0px 0px 0px;
}

footer {
    background-color: #524b3e;
    color: white;
    text-align: center;
    padding: 5px;
    bottom: 0;
}
html {
  scroll-behavior: smooth;
}

.action_btn {
    background-color: orange;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
    transition: scale 0.2 ease;
}
.action_btn:hover {
    scale: 1.05;
    color: aliceblue;
}
.action_btn:active{
    scale: 0.95;
}
.navbar .logo img {
    margin-right: 3px; 
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo a{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    display: none;
    size: 40px;
}
li{
    list-style: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li{
    padding: 0.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block
    }       
}

.dropdown_menu{
    display: block;
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}
