p {
    font-family: "Times New Roman";
}
    
body {
    font-family: "Times New Roman", serif;
    background-color: #1a4526;
    margin: 0;
    padding: 0;
}

header {
    background-color: #434f73;
    font-size: 25px;
    color: white;
    padding: 20px;
    text-align: centre;
}

nav {
    display: flex;
    justify-content: space-around;
    align: center;
    background-color: #4a6580;
    padding: 10px;
    position: fixed;
    
}

nav a {
    color: white;
    margin-right: 40px;
    text-decoration: overline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    font-weight: bold;
    
}

section {
    padding: 20px;
    text-align: center;
}

.main-content {
    background-color: #24325e;
    color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
html {
  scroll-behavior: smooth;
}
